.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

body {
    min-width: 320px;
}

/* html {
    scroll-behavior: smooth;
  } */

/* text */

p {
    font-weight: 400;
    font-family: 'Arial', serif;
    font-size: 15px;
    line-height: 160%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Georgia', serif;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
}

h1 {
    font-size: 44px;
    color: #FFFFFF;
    width: 310px;
    margin-bottom: 42px;
}

h2 {
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.06em;
}

h3 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-top: 26px;
}

h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

h5 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

a {
    text-decoration: none;
    color: #CDCDCD;
}

/* buttons */

.button {
    display: inline-block;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border-radius: 100px;
    padding: 15px 45px;
    background-color: transparent;
}

.primary {
    background: #F1CDB3;
    color: #292929;
}

.button:hover, .primary:hover {
    background: #FDDCC4;
    cursor: pointer;
}

.secondary {
    border: 2px solid #F1CDB3;
}


/* cards */

.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    color: #545454;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .secondary {
    background: #FDDCC4;
    border: #FDDCC4

}

/* arrow buttons */

.round-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    left: 70px;
    top: 555px;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 5px;
}

.round-button:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.round-button:disabled {
    border: 2px solid rgba(16, 16, 16, 0.1);
}

.round-button:disabled:hover {
    background-color: transparent;
}

@-moz-document url-prefix() {
    .round-button:disabled {
        border: 2px solid rgba(16, 16, 16, 0.1);
        color: rgba(16, 16, 16, 0.1);
    }
}

/* footer */

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 160px;
    padding-top: 27px;
}

footer {
    background: url(../../assets/images/start-screen-gradient-background.png) center/cover;
}

footer h2 {
    color: #FFFFFF;
    width: 280px;
    margin-bottom: 0;
}

footer h4 {
    color: #F1CDB3;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-picture {
    padding-top: 40px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.footer-locations {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.email, .phone, .location-boston, .location-london {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* mobile menu */

.mobile-menu {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    transition: right 0.5s;

}

.burger, .mobile-menu {
    display: none;
}



@media screen and (max-width: 767.9px) {
.burger {
    right: 53px;
    top: 49px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    z-index: 10;
}

.line {
    border: 1px solid #F1CDB3;
    width: 28px;
    height: 0;
}

.hiddenLogo {
    z-index: -1;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    transition: right 0.5s;
}

.open-mobile {
    right: 0;
}

.mobile-menu {
    background-color: #292929;
    z-index: 10;
}

.mobile-menu .logo {
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 10px;
    margin-top: 30px;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.mobile-menu ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.mobile-menu li {
    text-align: center;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
    margin: 18px 0;
    display: inline-flex;
}

.mobile-menu li.active {
    border-bottom: 3px solid #F1CDB3;
}

.mobile-menu .logo-title {
    color: #F1CDB3;
}

.mobile-menu .logo-subtitle {
    color: #FFFFFF;
}

.mobile-menu li.active {
    color: #FAFAFA;
}

.reverse .line {
    border: 1px solid #F1CDB3;
}

.reverse {
    z-index: 10;
    transition-duration: 0.5s;
    transform: rotate(-90deg);
}
}

.color {
    font-size: 50px;
}

.slider-left {
    transform: translate(-100px);
    rotate: 20deg;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.slider-right {
    transform: translate(100px);
    rotate: -20deg;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}
