/*header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 60px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    color: #F1CDB3;
    font-family: 'Georgia';
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.logo-subtitle {
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 0;
}

/* navigation */

.navigation-menu ul {
    display: flex;
    list-style: none;
}

.navigation-menu .active {
    color: #FAFAFA;
    cursor: pointer;
    border-bottom: 3px solid #F1CDB3;
}

.navigation-menu li {
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-left: 36px;
}

.navigation-menu li :hover {
    cursor: pointer;
    color: #FAFAFA;
}

/* start screen content and background */

.start-screen {
    background: url(../../assets/images/start-screen-background.jpg);
    background: url(../../assets/images/start-screen-gradient-background.png) center/cover;
}

.start-screen-content {
    display: flex;
    justify-content: space-between;
}

.content-container {
    margin-top: 134px;
    width: 460px;
}

.content-container p {
color: #CDCDCD;
margin-bottom: 40px;
}

.start-screen-puppy {
    display: flex;
}

.start-screen-puppy img {
    max-width: 100%;
    max-height: 100%;
}

.start-screen .primary {
    padding: 15px 45px;
}

/* about the shelter */

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 90px;
    gap: 10%;
}

.about-content {
    width: 430px;
}

.about h2{
    margin-top: 15px;
    margin-bottom: 23px;

}

.about p{
    margin-bottom: 25px;
}

/* pets */

.pets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 49px;
    background: #F6F6F6;
}

.pets h2{
    margin-bottom: 58px;
}

.pets h3{
    margin-bottom: 29px;
}

.pets .button.primary {
    margin-bottom: 100px;
}


/* 
slider and slides
*/

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 52px;
}

/* .slides {
    display: flex;
    gap: 90px;
} */

.slides {
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 435px;
    overflow: hidden;
    column-gap: 90px;
    grid-auto-rows: 0;
    grid-auto-columns: 0;
}

/* help */

.help {
    background-color: #FFFFFF;
}

.help-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 81px;
}

.help-content h2{
    margin-bottom: 57px;
}

.icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 119px;
    row-gap: 36px;
}

.icon-list .icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s;
}

/* donation */

.donation {
    background-color: #F6F6F6;
    padding-top: 81px;
    padding-bottom: 90px;
}

.donation-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.donation-picture {
    margin-top: 10px;
}

.donation-content {
    width: 380px;
}

.donation h2{
    margin-top: 0;
    margin-bottom: 19px;
}

.donation h5{
    margin-top: 0;
    margin-bottom: 20px;
    color: #545454;
}

.credit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    border: none;
    background: #F1CDB3;
    gap: 14px;
}

.credit-card:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.credit-card-icon {
    height: 23px;
}

.credit-card h4 {
    color: #545454;
    margin-top: 0;
    margin-bottom: 0;
    }

.legal-info {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin-top: 20px;
}

/* footer */

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 160px;
    padding-top: 27px;
}

footer {
    background: url(../../assets/images/start-screen-background.jpg);
    background: url(../../assets/images/start-screen-gradient-background.png) center/cover;
}

footer h2 {
    color: #FFFFFF;
    width: 280px;
    margin-bottom: 0;
}

footer h4 {
    color: #F1CDB3;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-picture {
    padding-top: 40px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.footer-locations {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.email, .phone, .location-boston, .location-london {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* media */

@media screen and (max-width: 1279.9px) and (min-width: 768px) {
    .slides {
        display: grid;
        grid-template-columns: 270px 270px;
        column-gap: 5.2083vw;
    }

    header {
        padding: 30px 0 30px;
    }

    .wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .start-screen-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-container {
        margin-top: 0;
        margin-bottom: 100px;
    }

    .content-container .primary {
        margin-left: 125px;
        margin-top: 2px;
    }

    .start-screen-puppy {
        width: 80%;
        align-self: flex-end;
    }

    .about-container {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 65px;
    }

    .about-content {
        margin-bottom: 55px;
    }

    .pets h2 {
        margin-top: 40px;
    }

    .slider {
        gap: 12px;
    }

    .icon-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        row-gap: 35px;
    }

    .donation-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .donation-picture {
        margin-top: 17px;
    }

    footer .wrapper {
        flex-direction: column;
    }

    .footer-container {
        display: flex;
        justify-content: space-evenly;
        gap: 17px;
        padding-top: 7px;
    }

    .footer-picture {
        align-self: center;
        padding-top: 57px;
    }
}

@media screen and (max-width: 767.9px) {
    .navigation-menu {
        display: none;
    }

    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    
    header {
        padding: 30px 0;
    }  

    h1 {
        width: 70%;
        margin: 29px auto 41px;
    }

    h1, h2 {
        font-size: 25px;
        letter-spacing: 0.06em;
    }

    .start-screen-content, .content-container, .about-container, .pets .wrapper, .donation-dog, .slides {
        flex-direction: column;
    }

    .content-container {
        margin-top: 0;
        margin-bottom: 100px;
        text-align: center;
    }

    .donation-content, .credit-card, .content-container, .content-box, .about-content, .legal-info {
        width: 100%;
    }

    .start-screen-puppy {
        width: 89%;
        align-self: flex-end;
    }

    .about-container {
        flex-flow: column-reverse wrap;
        text-align: justify;
        margin-top: 27px;
        margin-bottom: 44px
    }

    .about-container.wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .about-content {
        padding-bottom: 20px;
    }

    .about h2 {
        margin-top: 15px;
        text-align: center;
    }

    .about-pets {
        display: flex;
        justify-content: center;
    }

    .about-pets img {
        width: auto;
        max-width: 95%;
}


    .card:not(:first-child) {
    display: none;
    }

    .pets {
        padding-top: 20px;
    }

    .pets .wrapper {
        display: flex;
        align-items: center;
    }

    .pets h2 {
        margin-bottom: 38px;
        text-align: center;
    }

    .slider {
        width: 270px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0;
        margin-bottom: 41px;
    }

    .slides {
        order: 1;
    }

    .slider-button {
        order: 2;
    }

    .round-button {
        margin-top: 20px;
    }

    .pets .button.primary {
        margin-bottom: 12px;
    }

    .help-content h2 {
        margin-bottom: 42px;
    }

    .help-content {
        margin-bottom: 25px;
    }

    .icon-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        row-gap: 12.5px;
        column-gap: 21px;
    }

    .icon img {
        width: 50px;
        height: 50px;
    }

    .icon h3 {
        font-size: 15px;
        margin-top: 12px;
    }

    .donation {
        padding-bottom: 42px;
        padding-top: 42px;
    }

    .donation .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .donation-container {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .donation-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .donation-picture img {
        width: 93%;
    }

    .donation-content {
        margin-bottom: 20px;
    }

    .donation h2, .donation h5 {
        margin-bottom: 23px;
    }

    .credit-card h4 {
        font-size: 15px;
    }

    .legal-info {
        text-align: justify;
    }

    .donation h2, h5 {
        text-align: center;
    }

    h5 {
        letter-spacing: 0;
    }

    footer .wrapper {
        align-items: center;
        flex-direction: column;
    }

    .footer-container {
        padding-top: 10px;
        gap: 36px;
    }

    .footer-container, footer .wrapper {
        flex-direction: column;
    }


    .footer-picture {
        display: flex;
        justify-content: center;
        padding-top: 38px;
    }

    .footer-contacts {
        align-items: center;
        gap: 0;
    }

    footer h2 {
        text-align: center;
        margin-bottom: 38px;
        padding: 0 12px;
    }

    .email {
        margin-bottom: 41px;
    }

    .footer-locations {
        gap: 38px;
    }

    .footer-locations h2 {
        margin: 0 auto;
    }

    .footer-picture {
        display: flex;
        justify-content: center;
        padding-top: 38px;
    }

    .footer-picture img {
        width: 86%;
    }


    
}